<%- include('../partials/head.ejs', { title: 'Videos', user }) %>
<script>window.location.replace('/learn' + window.location.search);</script>
<p class="meta-text">Redirecting to <a href="/learn">learning library</a>…</p>
<%- include('../partials/foot.ejs') %>
