<%- include('partials/head.ejs', { title: 'Error', user: null }) %>
<section class="card">
  <h1>Something went wrong</h1>
  <p><%= message %></p>
  <a href="/videos">Back to videos</a>
</section>
<%- include('partials/foot.ejs') %>
