<a href="<%= typeof logoHref !== 'undefined' ? logoHref : '/videos' %>" class="brand-logo" aria-label="Digital Penang">
  <img class="brand-logo-img brand-logo-img--dark" src="/public/brand/dp-logo-white-text.svg" alt="Digital Penang" width="180" height="78" />
  <img class="brand-logo-img brand-logo-img--light" src="/public/brand/dp-logo-dark-text.svg" alt="Digital Penang" width="180" height="78" />
</a>
